body {
  background: #121212;
  color: #eee;
  font-family: Arial;
  padding: 20px;
}
textarea, input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #1e1e1e;
  color: white;
  border: 1px solid #444;
}
button {
  background: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 5px;
}
button:hover {
  background: #666;
}
